

/*
Fuente: Open Sans
BG 138CCE
Header y Footer FFBA5C
Botones 0362D6*/

/*Resetear estilos del Body*/
body {
    margin: 0px 0px 0px 0px;
    background-color:#138CCE;
    min-height: 100%;
    height: 100%;
    position: relative;
  
  }

/*Index*/

#ultPost{
   background-color: #FFBA5C;
}

 /*Header*/
 #header{
    background-color: #FFBA5C;
    height: 4rem;
 }
 /*Navbar*/
 .navLinks{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000000;
    float: right;
    margin-right: 10%;
    margin-top: 1%;
    font-weight: bolder;
 }
 /*Título de Travel Exp*/
 #titulo{
    margin-left: 3%;
    width: 9%;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000000;
    position: relative;
    top: 0.9rem;
 }
 /*Footer*/
 #footer{
    background-color: #FFBA5C;
    min-height: 2.5rem;
    /*margin-top: 4%;*/
    /*position:static*/;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    margin-top: 100%;  

    /*width: 100%;
   
   position: fixed;
   bottom: 0; */ 
 }
 /*Links del Footer*/
 .footLinks{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000000;
    font-weight: bolder;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 1%;
 }

 /*Estilos Log In*/

 /*Formulario Log In*/
 #formLogin{
   width: 40%;
   margin-left: 30%; 
   background-color:#FFBA5C;
   height:25rem;
}

#logInTitulo{
   text-align: center;
   color: #FFF;
   margin-top: 2%;
   margin-bottom: 2%;
}

.logInTitulos{
   text-align: center;
   color: #000000;
   font-weight:600;
   margin-top:2%;
}

 /*Estilos Log In*/
 #formRegistro{
   width: 40%;
   margin-left: 30%; 
   background-color:#FFBA5C;
   height:35rem;
}

 /*Estilos Form*/
 #botonForm{
    margin-left: 51%;
    margin-bottom: 13%;
    background-color:#FFBA5C;
 }

 /*Estilos Perfil*/
 #deleteCuenta{

   background-color:#FFBA5C;
}

 .btn-circle.btn-xl {
   width: 70px;
   height: 70px;
   padding: 10px 16px;
   border-radius: 35px;
   font-size: 24px;
   line-height: 1.33;
}

.btn-circle {
   width: 30px;
   height: 30px;
   padding: 6px 0px;
   border-radius: 15px;
   text-align: center;
   font-size: 12px;
   line-height: 1.42857;
}
 
